.no-data{
    font-size:  400%;
    font-weight: 1000;
    color: wheat;
}

.gauge-parent{
    width: 100%;
    height: 100%;
    margin: auto;
    min-width: 20px;
    min-height: 20px;
}

.gauge{
    width: 90%;
    height: 90%;
}